TrainingdataElevator.csv
PreprocessesTraining.csv
PreprocessesTraining_label.csv
PreprocessesTraining_label_oh.csv
TrainingdataElevator_lastMonth.csv
.ipynb_checkpoints/AI_Hackathon-checkpoint.ipynb
./EvaluationdataElevator/*
*-checkpoint.ipynb
*logs/*
